<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link type="text/css" rel="stylesheet" href="~/stylesheets/home.css" />
</head>
<body>
    <header class="flex-wrapper space-between">
        <a href="~/home"><h1>MegaDesk</h1></a>
    </header>
        @RenderBody()
    <footer>
        <hr />
        <p>Daniel Green &amp; Durid Ahmad</p>
    </footer>
</body>
</html>
