@{ 

    Layout = "~/_Layout.cshtml";
    Page.Title = "Add a Quote";

    var materialList = Desk.Surface.GetValues(typeof(Desk.Surface)).Cast<Desk.Surface>().Select(s => new SelectListItem
    {
        Text = s.ToString(),
        Value = ((int)s).ToString()
    }).ToList();

    // doesn't work yet
    var deliveryTime = (IEnumerable<SelectListItem>)System.Web.Mvc.Html.EnumHelper.GetSelectList(typeof(DeskQuote.Delivery)); //.EnumHelper.GetSelectList(typeof(DeskQuote.Delivery));

    if (IsPost)
    {

        Desk newDesk = new Desk
        {
            Depth = Decimal.Parse(Request.Form["depth"]),
            Width = Decimal.Parse(Request.Form["width"]),
            NumDrawers = Int32.Parse(Request.Form["numDrawers"]),
            SurfaceMaterial = Int32.Parse(Request.Form["surfaceMaterial"])
        };




        DeskQuote newQuote = new DeskQuote(newDesk, Request.Form["customerName"], Int32.Parse(Request.Form["deliveryTime"]), DateTime.Now);
        Database db = Database.Open("ScriptureLibrary");
        string insertCommand = "INSERT INTO DeskQuotes (Depth, Width, NumDrawers, SurfaceMaterial, OrderDate, CustomerName, Price, DeliveryTime) VALUES (@0, @1, @2, @3, @4, @5, @6, @7)";
        db.Execute(insertCommand, newQuote.Desk.Depth, newQuote.Desk.Width, newQuote.Desk.SurfaceMaterial, newQuote.OrderDate, newQuote.CustomerName, newQuote.Price, newQuote.DeliveryTime);
    }
}

<style>
    #formButtons .button {
        margin: 0 5px;
    }
</style>
<main>
    <h2>Add Quote</h2>
    <form method="post">
        <fieldset>
            <legend>Desk Information</legend>
            <p>
                <label for="customerName">Customer Name:</label>
                <input type="text" name="customerName" required />
            </p>
            <p>
                <label for="depth">Depth:</label>
                <input type="number" name="depth" min="12" max="48" required />
            </p>
            <p>
                <label for="width">Width:</label>
                <input type="number" name="width" min="24" max="96" required />
            </p>
            <p>
                <label for="numDrawers">Number of Drawers:</label>
                <input type="number" name="numDrawers" min="0" max="12" required />
            </p>
            <p>
                <label for="surfaceMaterial">Surface Material:</label>
                @Html.DropDownList("surfaceMaterial", materialList)
                    


                <select name="">
                    <option value="100">Laminate</option>
                    <option value="200">Oak</option>
                    <option value="50">Pine</option>
                    <option value="300">Rosewood</option>
                    <option value="125">Veneer</option>
                </select>
            </p>
            <p>
                <label for="deliveryTime">Delivery Time:</label>
                @Html.DropDownList("deliveryTime", deliveryTime)
                <select name="deliveryTime">
                    <option value="3">3 Days - Rush</option>
                    <option value="5">5 Days - Rush</option>
                    <option value="7">7 Days - Rush</option>
                    <option value="14">14 Days - No Rush</option>
                </select>
            </p>
            <div class="flex-wrapper flex-end" id="formButtons">
                <input class="button btn-primary" type="submit" value="Save Quote" />
            </div>
        </fieldset>
    </form>
</main>