@{ 

    Layout = "~/_Layout.cshtml";
    Page.Title = "Add a Quote";

    Validation.RequireField("customerName", "Customer Name is required");
    Validation.RequireField("depth", "Depth is required");
    Validation.RequireField("width", "Width is required");
    Validation.RequireField("numDrawers", "Number of Drawers is required");
    Validation.RequireField("surfaceMaterial", "Surface Material is required");
    Validation.RequireField("deliveryTime", "Delivery Time is required");

    if (IsPost && Validation.IsValid())
    {
        Desk newDesk = new Desk
        {
            Depth = Decimal.Parse(Request.Form["depth"]),
            Width = Decimal.Parse(Request.Form["width"]),
            NumDrawers = Int32.Parse(Request.Form["numDrawers"]),
            SurfaceMaterial = (int)Enum.Parse(typeof(Desk.Surface), Request.Form["surfaceMaterial"])
        };


        DeskQuote newQuote = new DeskQuote(newDesk, Request.Form["customerName"], (int)Enum.Parse(typeof(DeskQuote.Delivery), Request.Form["deliveryTime"]), DateTime.Now);

        DeskQuote.Delivery dl = (DeskQuote.Delivery)newQuote.DeliveryTime;
        string deliveryTime = dl.ToString();

        Database db = Database.Open("DeskLibrary");
        string insertCommand = "INSERT INTO DeskQuotes (Depth, Width, NumDrawers, SurfaceMaterial, OrderDate, CustomerName, Price, DeliveryTime) VALUES (@0, @1, @2, @3, @4, @5, @6, @7)";
        db.Execute(insertCommand, newQuote.Desk.Depth, newQuote.Desk.Width, newDesk.NumDrawers, Request.Form["surfaceMaterial"], newQuote.OrderDate, newQuote.CustomerName, newQuote.Price, deliveryTime);
        Response.Redirect("~/SearchQuotes");
    }
}

<style>
    #formButtons .button {
        margin: 0 5px;
    }
</style>
<main>
    <h2>Add Quote</h2>
    @Html.ValidationSummary()
    <form method="post">
        <fieldset>
            <legend>Desk Information</legend>
            <p>
                <label for="customerName">Customer Name:</label>
                <input type="text" name="customerName" required />
            </p>
            <p>
                <label for="depth">Depth:</label>
                <input type="number" name="depth" min="12" max="48" required />
            </p>
            <p>
                <label for="width">Width:</label>
                <input type="number" name="width" min="24" max="96" required />
            </p>
            <p>
                <label for="numDrawers">Number of Drawers:</label>
                <input type="number" name="numDrawers" min="0" max="12" required />
            </p>
            <p>
                <label for="surfaceMaterial">Surface Material:</label>
                <select name="surfaceMaterial">
                    <option value="Laminate">Laminate</option>
                    <option value="Oak">Oak</option>
                    <option value="Pine">Pine</option>
                    <option value="Rosewood">Rosewood</option>
                    <option value="Veneer">Veneer</option>
                </select>
            </p>
            <p>
                <label for="deliveryTime">Delivery Time:</label>
                <select name="deliveryTime">
                    <option value="3">3 Days - Rush</option>
                    <option value="5">5 Days - Rush</option>
                    <option value="7">7 Days - Rush</option>
                    <option value="14">14 Days - No Rush</option>
                </select>
            </p>
            <div class="flex-wrapper flex-end" id="formButtons">
                <input class="button btn-primary" type="submit" value="Save Quote" />
            </div>
        </fieldset>
    </form>
</main>