@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}
<link href="~/stylesheets/home.css" rel="stylesheet" type="text/css" />

<main>
    <h1> Main Menu</h1>
    <button class="btn default" onclick="window.location.href='AddQuote.cshtml'">Add Quote</button><br />
    <button class="btn default" onclick="window.location.href='SearchQuotes.cshtml'">Search/Edit Quote</button><br />
</main>