@{ 
    Layout = "~/_Layout.cshtml";
    Page.Title = "Search Quotes";

    Database db = Database.Open("DeskLibrary");
    string selectCommand = "SELECT * FROM DeskQuotes";
    string searchTerm = "";

    if (!Request.QueryString["searchMaterial"].IsEmpty() && Request.QueryString["searchMaterial"] != "all")
    {
        searchTerm = Request.QueryString["searchMaterial"];
        selectCommand = "SELECT * FROM DeskQuotes WHERE SurfaceMaterial = @0";
    }

    var selectedData = db.Query(selectCommand, searchTerm);

    WebGrid grid = new WebGrid(source: selectedData, rowsPerPage: 5);
}

<main>
    <h2>Search Quotes!</h2>
    <form method="get">
        <p>
            <label for="searchMaterial">Search Quotes by Material:</label>
            <select name="searchMaterial">
                <option value="Laminate">Laminate</option>
                <option value="Oak">Oak</option>
                <option value="Pine">Pine</option>
                <option value="Rosewood">Rosewood</option>
                <option value="Veneer">Veneer</option>
                <option value="all">Show All</option>
            </select>
            <input type="submit" class="button" value="Search" /><br />
        </p>
    </form>
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "tableHead",
        alternatingRowStyle: "altRow",
        columns: grid.Columns(
            grid.Column(format: @<a href="~/EditQuote?id=@item.ID">Edit</a>),
            grid.Column("CustomerName"),
            grid.Column("OrderDate"),
            grid.Column("Depth"),
            grid.Column("Width"),
            grid.Column("NumDrawers"),
            grid.Column("SurfaceMaterial"),
            grid.Column("DeliveryTime"),
            grid.Column("Price"),
            grid.Column(format: @<a href="~/DeleteQuote?id=@item.ID">Delete</a>)
        )
    )
</main>